In [22]:
# ----- IMPORTS -----
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit
pd.options.mode.chained_assignment = None  # default='warn'

In [23]:
# downloading and opening data from palmar penguin dataset
penguinData = pd.read_csv("penguins_size.csv")
# With head() I can see a quick glance at the data
penguinData.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [24]:
# With describe() I can view some of the numerical values and some statistical values
penguinData.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

In [25]:
# We can view the datatypes and column names clearly
penguinData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [26]:
# creating a split object using StratifiedShuffledSplit()
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

In [33]:
# test train split gets error because of NaN values
PD = penguinData.dropna(inplace=True)

In [34]:
PD.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
# I know standard deviation is 801 and min is 2700 and max is 6300
PD["body_mass_grams"] = pd.cut(PD["body_mass_g"],
                              bins = [2700.0, 3500.0, 4300.0, 5100.0, 5900.0, np.inf],
                              labels = [1, 2, 3, 4, 5])

In [ ]:
for train_index, test_index in split.split(PD, PD["body_mass_grams"]):
    strat_train_set = penguinData.loc[train_index]
    strat_test_set = penguinData.loc[test_index]